@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao EasyStock!</h1>
    <p>Sistema de controle de estoque simples, rápido e acessível para todos.</p>
</div>

<div class="homepage-content">
    <div class="row">
        <div class="col-md-4">
            <div class="info-card">
                <h3 class="text-primary fonte">Cadastre Produtos</h3>
                <p>Adicione facilmente novos itens ao seu inventário.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-card">
                <h3 class="text-primary fonte">Visualize Tudo</h3>
                <p>Acesse a lista completa de produtos cadastrados em um só lugar.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="info-card">
                <h3 class="text-primary fonte">Gerencie com Facilidade</h3>
                <p>Edite ou remova produtos do seu inventário com poucos cliques.</p>
            </div>
        </div>
    </div>
</div>