@{
    ViewData["Title"] = "Sobre";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4 text-primary">Sobre o EasyStock</h1>
            <p>EasyStock é uma aplicação web simples e eficiente para o gerenciamento de produtos, ajudando a comunidade a manter o controle de itens de forma organizada e acessível.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <h1 class="display-4 text-primary">Objetivo</h1>
            <p>O objetivo do EasyStock é fornecer uma solução prática para o controle de produtos e itens do dia a dia, ajudando pessoas a manterem seus estoques sempre organizados, de forma fácil e intuitiva. O aplicativo oferece uma maneira simples e eficiente de gerenciar seus itens e produtos, sem a complexidade de sistemas tradicionais ou planilhas. Ele é perfeito para quem precisa de praticidade no controle do que tem em estoque, seja para uso pessoal ou comunitário.</p>
        </div>
    </div>

</div>
